<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search / Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

      <ion-toolbar>
          <ion-title size="large">Search Users</ion-title>
      </ion-toolbar>

  </ion-header>
  <ion-input id="" type="text" placeholder="search user" ></ion-input>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <ion-img [src]="user.avatar_url"></ion-img>
      </ion-avatar>
      <ion-label [ngStyle]="user.login ===  && {color: '#ff0000'} ">
        {{ user.login }}
      </ion-label>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
