<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search / Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

      <ion-toolbar>
          <ion-title size="large">Search Users</ion-title>
      </ion-toolbar>

  </ion-header>

  <form (submit)="submitSearch()" >
    <input  [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="search-user" type="text" placeholder="search user"/> 
  </form>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar id="user-avatar" slot="start">

        <!-- inject user avatar on search -->

      </ion-avatar>
      <ion-label id="user-login" [ngStyle]="user.public_repos > 2 && {color: '#ff0000'}">

        <!-- inject user login on search -->
        
      </ion-label>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>



<!-- </ion-tab-button> -->