<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feed</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    
    <ion-item *ngFor="let user of users">

          <div style="display: flex;">

            <ion-avatar style="border: 0.3em solid rgb(24, 66, 125);" slot="start">
              <ion-tab-button (click)="selectUser(user)" tab="tab2"> 
                <ion-img [src]="user.avatar_url"></ion-img>
              </ion-tab-button>
            </ion-avatar>
            
            <ion-label tab="tab2" style="padding: 25px;" [ngStyle]="user.public_repos > 2 && {color: '#ff0000'} ">
              {{ user.login }}
            </ion-label>

          </div>

      </ion-item>
      
  </ion-list>

  <app-explore-container name="Tab 1 page"></app-explore-container>

</ion-content>
